body {
    background-image: url("../img/desk-blur.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

/*********/
/* ABOUT */
/*********/

#index-about {
    min-width: 1000px;
    padding: 200px 0px;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    text-align: center;
}
#index-about-content h1 {
    font-size: 275%;
    color: #f36e21;
}
#index-about-content h2 {
    font-size: 200%;
}
#index-about-content p {
    color: rgba(255,255,255,0.8);
}

/*********/
/* QUOTE */
/*********/

#index-quote {
    min-width: 1000px;
    padding: 50px 0px;
    background-color: rgb(243,110,33);
    text-align: center;
}
#index-quote-content #quote {
    display: inline-block;
    width: 860px;
    padding: 20px 70px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 0px;
}
#index-quote-content #quote-left {
    display: block;
    position: relative;
    right: 460;
    color: rgba(243,110,33,1);
}
#index-quote-content #quote-right {
    display: block;
    position: relative;
    left: 460;
    color: rgba(243,110,33,1);
}
#index-quote-content h1 { color: #eee; }
#index-quote-content p:nth-child(3) {
    color: rgba(255,255,255,0.5);
    font-size: 75%;
    text-align: right;
}

/************/
/* DEGREE */
/************/

#index-degree {
    min-width: 1000px;
    padding: 50px 0px;
    /* background-color: rgba(243,110,33,0.5); */
    background-color: rgba(0,0,0,0.5);
}
#index-degree-content {
    text-align: center;
}
#index-degree-content h1 { color: #eee; }
.minors h2 { font-size: 18px; }
.courses { text-align: left; }

/*************/
/* RESOURCES */
/*************/

#index-resources {
    padding: 50px 0px;
    background-color: #f36e21;
}
#index-resources-content h1 {
    color: #eee;
    text-align: center;
}
#index-resources-content .resource {
    padding: 20px;
}
#index-resources-content .resource h2 {
    text-align: center;
    color: #eee;
}
#index-resources-content .resource:hover {
    background-color: rgba(255,255,255,0.1);
}

/********/
/* COOP */
/********/

#index-coop {
    padding: 50px 0px;
    background-color: rgba(0,0,0,0.5);
    color: #eee;
}
#index-cooop-content {
    text-align: center;
}
#index-coop-content h1 {
    text-align: center;
}
#index-coop-content h2 {
    text-align: center;
}
#index-coop-content p {
    text-align: center;
}
#index-coop-content .info {
    text-align: center;
}
#index-coop-content .stat {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f36e21;
    height: 225px;
    padding: 20px;
    text-align: center;
}
#index-coop-content .stat h3 { font-size: 26px }
#index-coop-content .stat p { font-size: 14px; color: rgba(255,255,255,0.8); }
#index-coop-map-content {
    height: 450px;
    width: 765px;
    margin: 0px auto;
}
#map-iframe {
    height: 450px;
    width: 765px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px 0 10px;
    border: medium none;
}

/************/
/* RESEARCH */
/************/

#index-research {
    background-color: #111;
    padding: 50px 0px;
}
#index-research-content {
    color: #ddd;
    text-align: center;
}
#index-research-content .research {
    height: 50px;
    line-height: 50px;
    margin-bottom: 33px;
}
#index-research-content .research a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.citation {
    text-align: left;
}

/**********/
/* PEOPLE */
/**********/

#index-people {
    padding: 50px 0px;
    background-color: #fff;
}
#index-people-content h1 {
    text-align: center;
    color: #222;
}
#index-people-content .person {
    height: 175px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px 10px;
    margin-bottom: 31px;
    text-align: center;
    background-color: #f36e21;
}
#index-people-content .person a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: rgba(255,255,255,0.8);
}
#index-people-content .person p {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 300;
    color: rgba(255,255,255,0.6);
}

/********/
/* NEWS */
/********/

#index-news {
    min-width: 1000px;
    padding: 50px 0px 80px 0px;
}
#index-news-content {
    text-align: center;
}
#index-news-content h1 {
    color: #ddd;
}
.news-item {
    background-color: #fff;
    padding: 20px;
}
.news-title {
    color: rgba(0,0,0,0.7);
    font-size: 20px;
}
.news-date {
    color: rgba(0,0,0,0.5);
    font-size: 75%;
    margin: 0px;
}
.news-desc {
    color: rgba(0,0,0,0.7);
}

/**********/
/* SOCIAL */
/**********/

#index-social {
    background-color: #fff;
    min-width: 1000px;
    padding: 50px 0px;
}
#index-social-content {
    text-align: center;
}
#index-social-content #tweet {
    font-weight: 600;
    font-size: 18px;
    color: #555;
}
#index-social-content #by {
    color: rgba(0,0,0,0.5);
}
#index-social-content #twitter { margin-right:10px; color: #55acee; }
#index-social-content #facebook { color: #4c66a4; }

/****************/
/* CONTACT FORM */
/****************/

#index-contact-form {
    padding: 50px 0px;
}
#index-contact-form-content {
    background-color: #fff;
}
