body {
    background-image: url("../img/desk-blur.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

/*********/
/* ABOUT */
/*********/

#index-about {
    min-width: 1000px;
    padding: 200px 0px;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    text-align: center;
}
#index-about-content h1 {
    font-size: 275%;
    color: #f36e21;
}
#index-about-content h2 {
    font-size: 200%;
}
#index-about-content p {
    color: rgba(255,255,255,0.8);
}

/*********/
/* QUOTE */
/*********/

#index-quote {
    min-width: 1000px;
    padding: 50px 0px;
    background-color: rgb(243,110,33);
    text-align: center;
}
#index-quote-content #quote {
    display: inline-block;
    padding: 20px 70px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 0px;
}
#index-quote-content #quote-left {
    display: block;
    position: relative;
    right: 465;
    color: rgba(243,110,33,1);
}
#index-quote-content #quote-right {
    display: block;
    position: relative;
    left: 465;
    color: rgba(243,110,33,1);
}
#index-quote-content h1 { color: #ddd; }
#index-quote-content p:nth-child(3) {
    color: rgba(255,255,255,0.5);
    font-size: 75%;
    text-align: right;
}

/****************/
/* UNDERGRDUATE */
/****************/

#index-undergraduate {
    min-width: 1000px;
    padding: 50px 0px;
    background-color: rgba(0,0,0,0.5);
}
#index-undergraduate-content {
    text-align: center;
}
#index-undergraduate-content h1 { color: #eee; }

/************/
/* GRADUATE */
/************/

#index-degree {
    min-width: 1000px;
    padding: 50px 0px;
    /* background-color: rgba(243,110,33,0.5); */
    background-color: rgba(0,0,0,0.5);
}
#index-degree-content {
    text-align: center;
}
#index-degree-content h1 { color: #eee; }

/**********/
/* MINORS */
/**********/

#index-minors {
    min-width: 1000px;
    padding: 50px 0px;
    background-color: rgba(255,255,255,0.5);
}
#index-minors-content {
    text-align: center;
}
.minors {
    height: 115px;
    background-color: red;
    text-align: center;
}
.minors h2 {
    font-size: 16px;
}
.minors-link {
    display: inline-block;
    height: 100%;
    width: 100%;
}

/********/
/* NEWS */
/********/

#index-news {
    min-width: 1000px;
    padding: 50px 0px 80px 0px;
}
#index-news-content {
    text-align: center;
}
#index-news-content h1 {
    color: #ddd;
}
.news-item {
    background-color: #fff;
    padding: 20px;
}
.news-title {
    color: rgba(0,0,0,0.7);
    font-size: 20px;
}
.news-date {
    color: rgba(0,0,0,0.5);
    font-size: 75%;
    margin: 0px;
}
.news-desc {
    color: rgba(0,0,0,0.7);
}

/**********/
/* SOCIAL */
/**********/

#index-social {
    background-color: #fff;
    min-width: 1000px;
    padding: 50px 0px;
}
#index-social-content {
    text-align: center;
}
#index-social-content #tweet {
    font-weight: 600;
    font-size: 18px;
    color: #555;
}
#index-social-content #by {
    color: rgba(0,0,0,0.5);
}
#index-social-content #twitter { margin-right:10px; color: #55acee; }
#index-social-content #facebook { color: #4c66a4; }
